<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web bán mỹ phẩm</title>
    <link rel="stylesheet" href="trangchu.css">
</head>
<body>
<!-- menu -->
    <header>
        <nav>
            <ul>
                <img class="logo" src="/asm/image/logo.png" alt="" width="10px">
                <li><a href="http://127.0.0.1:5500/asm/views/trangchu.html">Trang chủ</a></li>
                <li><a href="#">Sản phẩm</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Liên hệ</a></li>
                <input type="text" placeholder="nhập tên sản phẩm">
                <button>Tìm Kiếm</button>
            </ul>
        </nav>
    </header>
<!-- banner -->
    <!-- <div class="banner">
        <div class="banner-img">
            <img src="/asm/image/my-pham-moc-banner-2-1.jpg" alt="anh1" class="active">
            <img src="/asm/image/logo.png" alt="anh2">
            <img src="/asm/image/anh-sp-sonmoi.webp" alt="anh3">
        </div>
    </div> -->
    <div class="image-container">
        <img src="/asm/image/my-pham-moc-banner-2-1.jpg" alt="Ảnh 1" class="active">
        <img src="/asm/image/logo.png" alt="Ảnh 2">
        <img src="/asm/image/anh-sp-sonmoi.webp" alt="Ảnh 3">
      </div>
    <script src="/asm/java/trangchu.js"></script>
<!-- sanpham -->
    <section id="products">
        <h2>Sản phẩm mới nhất</h2>
        <div class="product-container">
            <div class="product">
                <img src="/asm/image/anh-sp-sonmoi.webp" alt="Sản phẩm 1">
                <h3>SON MÔI HỮU CƠ RUBY LIPSTICK</h3>
                <p>giá : 199k</p>
                <a class="chitietsp" href="#">Xem chi tiết</a>
            </div>
            <div class="product">
                <img src="/asm/image/anh-sp-sonmoi.webp" alt="Sản phẩm 2">
                <h3>SON MÔI HỮU CƠ RUBY LIPSTICK</h3>
                <p>giá : 199k</p>
                <a class="chitietsp" href="#">Xem chi tiết</a>
            </div>
            <div class="product">
                <img src="/asm/image/anh-sp-sonmoi.webp" alt="Sản phẩm 3">
                <h3>SON MÔI HỮU CƠ RUBY LIPSTICK</h3>
                <p>giá : 199k</p>
                <a class="chitietsp" href="#">Xem chi tiết</a>
            </div>
            
            
            <!-- Thêm các sản phẩm khác tương tự -->
        </div>
    </section>
<!-- footer -->
    <footer>
        <div class="mot">
            <h1>Thông tin cửa hàng</h1>
            <p>Địa chỉ : đường Đan Khê - xã Di Trạch - huyện Hoài Đức - TP.Hà Nội</p>
            <p>sđt : 0344885930</p>
        </div>
        <div class="hai">
            <p>Điều khoản sử dụng</p>
            <p>Chính sách bảo mật</p>
            <p>đặt quảng cáo</p>
        </div>
        <div class="ba">
            <p>Về chúng tôi</p>
            <p>Blog Cốc Cốc Tìm kiếm</p>
            <p>Tuyển dụng</p>
        </div>
    </footer>
</body>
</html>